<a href="https://colab.research.google.com/github/htapiagroup/sistemas-distribuidos-evaluacion-intersemestral-rafaflo/blob/master/examen_medio_sd2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Luis Rafael Flores CastelÃ¡n
Examen medio termino 
##Sistemas Distribuidos 2

#Pregunta1
#Se descarga en el drive de google el archivo zip

In [0]:
import pandas as pd
import psutil, os

In [0]:
from dask import delayed
import numpy as np

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
cd gdrive/My\ Drive/'Colab Notebooks'

/content/gdrive/My Drive/Colab Notebooks

In [10]:
!7z l ./trip_data.7z

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,2 CPUs Intel(R) Xeon(R) CPU @ 2.20GHz (406F0),ASM,AES-NI)

Scanning the drive for archives:
  0M Scan /content/gdrive/My Drive/Colab Notebooks/                                                   

Command Line Error:
Cannot find archive

## Se ve que contiene el archivo .zip

In [12]:
!7z l ./trip_data.7z

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,2 CPUs Intel(R) Xeon(R) CPU @ 2.20GHz (406F0),ASM,AES-NI)

Scanning the drive for archives:
  0M Scan ./            1 file, 4102781969 bytes (3913 MiB)

Listing archive: ./trip_data.7z

--
Path = ./trip_data.7z
Type = 7z
Physical Size = 4102781969
Headers Size = 433
Method = LZMA:24
Solid = -
Blocks = 12

   Date      Time    Attr         Size   Compressed  Name
------------------- ----- ------------ ------------  ------------------------
2014-05-12 22:02:53 ....A   2459600863    345687208  trip_data_1.csv
2014-01-15 06:55:32 ....A   2502278613    358624764  trip_data_10.csv
2014-01-15 07:34:24 ....A   2395449056    342987617  trip_data_11.csv
2014-01-15 08:09:28 ....A   2327237611    331056148  trip_data_12.csv
2014-05-12 22:08:09 ....A   2328673265    327374725  trip_data_2.csv
2013-08-26 02:19:46 ....A   2622301287    371026139  trip_data_3.csv
2013-08-26 02:53:34 ....A   2515040578    361556239  trip_data_4.csv
2013-08-26 03:27:40 ....A   2545680024    358447730  trip_data_5.csv
2013-08-26 03:59:30 ....A   2396133818    341464743  trip_data_6.csv
2014-01-15 05:01:12 ....A   2303297474    324785999  trip_data_7.csv
2014-01-15 05:35:12 ....A   2100978620    300295410  trip_data_8.csv
2014-01-15 06:13:50 ....A   2353003850    339474814  trip_data_9.csv
------------------- ----- ------------ ------------  ------------------------
2014-05-12 22:08:09        28849675059   4102781536  12 files

#Pregunta 2:
## Se descomprime un archivo de los cvs que contiene  el zip.

In [15]:
!7z e ./trip_data.7z -o./Data trip_data_1.csv

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,2 CPUs Intel(R) Xeon(R) CPU @ 2.20GHz (406F0),ASM,AES-NI)

Scanning the drive for archives:
  0M Scan ./            1 file, 4102781969 bytes (3913 MiB)

Extracting archive: ./trip_data.7z
--
Path = ./trip_data.7z
Type = 7z
Physical Size = 4102781969
Headers Size = 433
Method = LZMA:24
Solid = -
Blocks = 12

  0%      0% - trip_data_2.csv                        1% - trip_data_2.csv                        2% - trip_data_2.csv                        3% - trip_data_2.csv                        4% - trip_data_2.csv                        5% - trip_data_2.csv                        6% - trip_data_2.csv                        7% - trip_data_2.csv                        8% - trip_data_2.csv                        9% - trip_data_2.csv                       10% - trip_data_2.csv                       11% - trip_data_2.csv                       12% - trip_data_2.csv                       13% - trip_data_2.csv                       14% - trip_data_2.csv                       15% - trip_data_2.csv                       16% - trip_data_2.csv                       17% - trip_data_2.csv                       18% - trip_data_2.csv                       19% - trip_data_2.csv                       20% - trip_data_2.csv                       21% - trip_data_2.csv                       22% - trip_data_2.csv                       23% - trip_data_2.csv                       24% - trip_data_2.csv                       25% - trip_data_2.csv                       26% - trip_data_2.csv                       27% - trip_data_2.csv                       28% - trip_data_2.csv                       29% - trip_data_2.csv                       30% - trip_data_2.csv                       31% - trip_data_2.csv                       32% - trip_data_2.csv                       33% - trip_data_2.csv                       34% - trip_data_2.csv                       35% - trip_data_2.csv                       36% - trip_data_2.csv                       37% - trip_data_2.csv                       38% - trip_data_2.csv                       39% - trip_data_2.csv                       40% - trip_data_2.csv                       41% - trip_data_2.csv                       42% - trip_data_2.csv                       43% - trip_data_2.csv                       44% - trip_data_2.csv                       45% - trip_data_2.csv                       46% - trip_data_2.csv                       47% - trip_data_2.csv                       48% - trip_data_2.csv                       49% - trip_data_2.csv                       50% - trip_data_2.csv                       51% - trip_data_2.csv                       52% - trip_data_2.csv                       53% - trip_data_2.csv                       54% - trip_data_2.csv                       55% - trip_data_2.csv                       56% - trip_data_2.csv                       57% - trip_data_2.csv                       58% - trip_data_2.csv                       59% - trip_data_2.csv                       60% - trip_data_2.csv                       61% - trip_data_2.csv                       62% - trip_data_2.csv                       63% - trip_data_2.csv                       64% - trip_data_2.csv                       65% - trip_data_2.csv                       66% - trip_data_2.csv                       67% - trip_data_2.csv                       68% - trip_data_2.csv                       69% - trip_data_2.csv                       70% - trip_data_2.csv                       71% - trip_data_2.csv                       72% - trip_data_2.csv                       73% - trip_data_2.csv                       74% - trip_data_2.csv                       75% - trip_data_2.csv                       76% - trip_data_2.csv                       77% - trip_data_2.csv                       78% - trip_data_2.csv                       79% - trip_data_2.csv                       80% - trip_data_2.csv                       81% - trip_data_2.csv                       82% - trip_data_2.csv                       83% - trip_data_2.csv                       84% - trip_data_2.csv                       85% - trip_data_2.csv                       86% - trip_data_2.csv                       87% - trip_data_2.csv                       88% - trip_data_2.csv                       89% - trip_data_2.csv                       90% - trip_data_2.csv                       91% - trip_data_2.csv                       92% - trip_data_2.csv                       93% - trip_data_2.csv                       94% - trip_data_2.csv                       95% - trip_data_2.csv                       96% - trip_data_2.csv                       97% - trip_data_2.csv                       98% - trip_data_2.csv                       99% - trip_data_2.csv                      100% 1      Everything is Ok

Size:       2328673265
Compressed: 4102781969

In [0]:
def huella_de_memoria():
  ''' regresa la memoria usada por un proceso en  Python'''
  mem = psutil.Process(os.getpid()).memory_info().rss
  return (mem//1024**2)

In [31]:
antes=huella_de_memoria()
print(antes)

142

#Prefunta 5
Crear un DataFrame usando la libreria pandas y responder lo siguiente:
1. Indicar el tiempo en segundos, que  tarda la libreria `pandas` en leer un archivo a un  `DataFrame`: **1min 47s**
2. Cual es la huella de memoria del proceso usado para generar el objeto `DataFrame`:**5104**
2. Cuanta memoria del sistema se usa para crear el objeto anterior:**4962**
3. Indicar el tiempo que tarda `pandas` en obtener el promedio de la distancia de viaje :**59.5 ms**

In [32]:
%%time
df = pd.read_csv('trip_data_1.csv')

CPU times: user 53.4 s, sys: 7.55 s, total: 1min
Wall time: 1min 47s

In [33]:
despues=huella_de_memoria()
print(despues)

5104

In [34]:
print(despues-antes)

4962

In [35]:
%%time
df['trip_distance'].mean()

CPU times: user 39.3 ms, sys: 2.07 ms, total: 41.4 ms
Wall time: 59.5 ms

2.770975670679966

#Pregunta 3
Responder las siguientes preguntas:

> Cuantas columnas contiene cada archivo de datos descomprimido: **14**



>Cuantos renglones tiene cada archivo: **14776615**

In [36]:
df.shape

(14776615, 14)

##Depurando los dasopara la pregunta 4

In [39]:
df.columns

Index(['medallion', 'hack_license', 'vendor_id', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_time_in_secs', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude'],
      dtype='object')

In [0]:
blancos_m=df.rate_code==0

In [49]:
df.loc[blancos_m].count()

medallion             667
hack_license          667
vendor_id             667
rate_code             667
store_and_fwd_flag    176
pickup_datetime       667
dropoff_datetime      667
passenger_count       667
trip_time_in_secs     667
trip_distance         667
pickup_longitude      667
pickup_latitude       667
dropoff_longitude     581
dropoff_latitude      581
dtype: int64

Se detecta que hay viejes con un numero de pasajeros mayor a la capasidad de un veiculo normal. O en cero.
###Pasajeros  - numero viajes
* 0 - 166
* 255      -     1
* 208      -     1
* 9          -      1

In [54]:
df['passenger_count'].value_counts()

1      10471701
2       1986196
5        920006
3        597485
6        520066
4        280992
0           166
255           1
208           1
9             1
Name: passenger_count, dtype: int64

Se detecta que hay viajes con un tarifa fuera de rango
>Clave tarifa  -- Numero de viajes
* 210 -11
* 128 - 4
* 28 - 2
* 65 - 1

In [55]:
df['rate_code'].value_counts()

1      14456067
2        239160
5         39889
4         22831
3         17655
0           667
6           315
210          11
8            10
128           4
28            2
7             2
65            1
9             1
Name: rate_code, dtype: int64

In [56]:
df['store_and_fwd_flag'].value_counts()

N    7285231
Y     165177
Name: store_and_fwd_flag, dtype: int64

SE detencta que hay **83376** registros  con cero distacia de viaje.

In [64]:
distancia_cero=df.trip_distance==0
df.loc[distancia_cero]

                                 medallion  ... dropoff_latitude
88        20D9ECB2CA0767CF7A01564DF2844A3E  ...        40.802025
308       66764B77F96DF43315499D73AA6DD84E  ...        40.725876
473       D57C7392455C38D9404660F7BC63D1B6  ...         0.000000
496       2886A4D0E61E8FAD6604A02A50F1A318  ...        40.889069
622       232840CC49C3846876B29C434104F356  ...         0.000000
859       19BF1BB516C4E992EA3FBAEDA73D6262  ...         0.000000
1059      67108EDF8123623806A1DAFE8811EE63  ...         0.000000
1333      12FAD213D956882818BC2ADD04C65E4E  ...         0.000000
1623      34FC27F60C0382699957BA60FB1C9125  ...         0.000000
1711      EDC498F8AB44E4697ECB239CF11E001F  ...         0.000000
1761      EF7EDFF0F276379F8D97AA06A1492A86  ...         0.000000
1762      4256332648D4C386D2556EA5F320E0F6  ...         0.000000
1893      1F9E2C27335E24C6A72069A4A550E3D5  ...        40.757904
1914      C7D1773D917E17856445A0F092E09393  ...         0.000000
1952      0E5C91D3EEB96AB7E08EA3955EAC1CCC  ...         0.000000
2084      A031700185C5A36074AE9E629B306520  ...         0.000000
2330      9C271516A1EEC552768518C399194DD6  ...         0.000000
2402      68EB175C92F1AB6B3EE193430B6B2793  ...         0.000000
2414      E30DE1D506529813D16B795D4587F7F6  ...         0.000000
2419      F79B8B6D1304C70CD1F8C6EED8E7F517  ...         0.000000
2546      F79B8B6D1304C70CD1F8C6EED8E7F517  ...         0.000000
2749      5087BB78CF858C53F8E5BB2C75B59369  ...         0.000000
2809      DD336C4ADA65CCBD2284F63BF348A4F0  ...        40.758327
2864      4D032F40F4035A9415C16ADC6B557E1E  ...         0.000000
3506      1AF6EC34D575B9CBBCACBA20A87E5CF3  ...         0.000000
3579      423AEBC756279E5DA0B28518B7DA8844  ...        40.758034
3830      4814BAB4D79FBDA2ED80C538D933B0BA  ...         0.000000
4089      E5543A55F9B9E60EBDDB0D6451EAC082  ...         0.000000
4105      98A86D1B747E1C2BFE87214929D866D4  ...         0.000000
4236      CDF79349B6034EBFB44264FFDC07DE56  ...        40.882072
...                                    ...  ...              ...
14772203  93B075B2DCDB9D9DB15B0156C6390E3B  ...        40.786087
14772232  E0E275AC768A392EA8B42ACADD8D59FE  ...        40.753658
14772245  991B2E3F85ABD629531D64B3015B61CB  ...        40.763927
14772367  C97774CC21855CB0CC7CFAD95C9FF657  ...        40.687901
14772459  555532182AC72641D2C09DC95DFC78FD  ...        40.744659
14772463  CA6CD9BAED6A85E430F7BFC0BC84ABD0  ...        40.764050
14772738  C8AB89E831EB432186E175A3670AEBD9  ...        40.766464
14772875  B4710798F65B3B35A38AF02F9AAFDA6B  ...        40.709892
14773250  82D38AE6254C437797711762BF48761F  ...        40.764141
14773573  282E5C4DA6D0AFBB018350A5252D875E  ...        40.704876
14773577  52B6B1DCBDFD83A1B9709A33459EEDC4  ...         0.000000
14773716  84A89370B8DF3890A7B2D402B204C2F9  ...        40.738586
14773720  E9FA616510F27097982DA2CE4E767FCD  ...        40.799305
14773758  25096C17748A17D0DB7322B74F969644  ...        40.768066
14773882  C38A76F1FD999C60C372A400C9F01886  ...        40.750652
14774452  6A0EB6A35E330DE2E64BEE0CEABE7ADE  ...        40.740955
14774733  E75A0D7C53FDF322CF633A322F8FCEE4  ...        40.752048
14774789  3971433DE123DA2A1061AF1A6D8084D0  ...        40.745079
14774830  4D5A4FB75167CB804D91908710C78A36  ...        40.755081
14774901  9260EEA8606C67F10698AF356BFCF454  ...        40.644753
14775215  E9A54865CAF737ED003957478C9D8FA1  ...        40.749130
14775479  CAAA8821AA189734AC6A4E23E00395C0  ...        40.756302
14775818  4351ACEF683BECBD3E283F324EB78460  ...        40.741425
14775819  4351ACEF683BECBD3E283F324EB78460  ...        40.741425
14775946  4AB3CAA8B5B267E889F2D31BE66142BF  ...        40.745041
14775990  5EDC3800234257AF649CA8DB982CA00C  ...        40.745018
14776290  8D708B5B292FB555F4EFE69597872B01  ...         0.000000
14776424  47D7BFDF540BFD20858B0329251B741B  ...        40.643829
14776583  4EE5F2532F57F21244FCC00EEFC37BBC  ...        40.763950
14776584  47D7BFDF540BFD20858B0329251B741B  ...        40.767174

[83376 rows x 14 columns]